// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.card {
  max-width: 430px;
}

// .card h2 {
//   color: $primary;
// }

// .card p {
//   color: $sky-blue;
// }

.card-img-top {
  max-height: 200px;
}

.bgimage {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 36, 78, 0.651), rgb(0, 36, 78)), url("../images/snhu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #00244E;
}



  
  
  
 
  
  
 
  